@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
  --color-dark-text: #f8fafc;
}

body {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}
